<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Car rental</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Car
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/cars/list">Car list</a>
            </li>
            <li><a class="dropdown-item" routerLink="/cars/add">Add car</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Brand
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/brands/list">Brand list</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/brands/add">Add brand</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Color
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/colors/list">Color list</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/colors/add">Add color</a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="navbar-nav">
        <div *ngIf="!CheckJwtToken()" class="d-flex gap-2">
          <button class="btn btn-outline-primary" routerLink="/user/register">
            Register
          </button>
          <button class="btn btn-outline-success" routerLink="/user/login">
            Login
          </button>
        </div>

        <li *ngIf="CheckJwtToken()" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ currentUserName }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/user/info">User info</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/cars" (click)="Logout()"
                >Logout</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
