<div class="mb-3">
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="brandfilterText"
    placeholder="brand to search"
  />

  <select
    class="form-select form-select-sm"
    type="number"
    [(ngModel)]="selectedBrand"
    (change)="onSelectedBrandChange()"
  >
    <option selected [ngValue]="allBrandsOption">
      {{ allBrandsOption.name }}
    </option>
    <option
      *ngFor="let brand of brands | brandFilterPipe: filterText"
      [ngValue]="brand"
    >
      {{ brand.name }}
    </option>
  </select>
</div>
