<div class="mb-3">
  <label for="cardNameInput" class="form-label">Name on card</label>
  <input type="text" class="form-control" id="cardNameInput" />
</div>
<div class="mb-3">
  <label for="cardNumberInput" class="form-label">Card number</label>
  <input type="text" class="form-control" id="cardNumberInput" />
</div>
<label for="expirationDateInput" class="form-label">Expiration date</label>

<div class="input-group mb-3" id="expirationDateInput">
  <select class="form-select">
    <option selected>Choose...</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
  </select>
  <span class="input-group-text"> </span>
  <select class="form-select" id="inputGroupSelect01">
    <option selected>Choose...</option>
    <option value="1">2021</option>
    <option value="2">2022</option>
    <option value="3">....</option>
  </select>
</div>
<div class="mb-3">
  <label for="cvvInput" class="form-label">cvv</label>
  <input type="text" class="form-control" id="cvvInput" />
</div>
<button class="btn btn-primary" (click)="addRental()">Submit</button>
