<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h5 class="title">Payment info</h5></div>
      <div class="card-body">
        <form [formGroup]="paymentInfoForm">
          <div class="mb-3">
            <label for="nameOnCard">Name on card</label>
            <div class="form-group">
              <input
                class="form-control input-lg"
                type="text"
                id="nameOnCard"
                formControlName="nameOnCard"
                placeholder="nameOnCard"
              />
            </div>

            <label for="cardNumber">Card number</label>
            <div class="form-group">
              <input
                class="form-control input-lg"
                type="text"
                id="cardNumber"
                formControlName="cardNumber"
                placeholder="cardNumber"
              />
            </div>

            <label for="cvv">cvv</label>
            <div class="form-group">
              <input
                class="form-control input-lg"
                type="number"
                id="cvv"
                formControlName="cvv"
                placeholder="cvv"
              />
            </div>

            <label for="lastUseMonth">last use</label>
            <div class="form-group input-group">
              <input
                class="form-control input-lg"
                type="number"
                id="lastUseMonth"
                formControlName="lastUseMonth"
                placeholder="lastUseMonth"
              />
              <span class="input-group-text"> </span>

              <input
                class="form-control input-lg"
                type="number"
                id="lastUseYear"
                formControlName="lastUseYear"
                placeholder="lastUseYear"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <!-- Button trigger modal -->
        <button
          class="btn btn-fill btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          Submit
        </button>
      </div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">permission</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">Save credit card information?</div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
                (click)="addRental()"
              >
                No
              </button>
              <button
                type="button"
                class="btn btn-primary"
                data-bs-dismiss="modal"
                (click)="savePaymentInfo()"
              >
                Yes
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
