<div class="mb-3">
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="ColorfilterText"
    placeholder="color to search"
  />

  <select
    class="form-select form-select-sm"
    type="number"
    [(ngModel)]="selectedColor"
    (change)="onSelectedColorChange()"
  >
    <option selected [ngValue]="allColorsOption">
      {{ allColorsOption.name }}
    </option>
    <option
      *ngFor="let color of colors | colorFilterPipe: filterText"
      [ngValue]="color"
    >
      {{ color.name }}
    </option>
  </select>
</div>
