<div class="row" *ngIf="dataLoaded == true">
  <div class="col-md-7">
    <img
      *ngFor="let image of currentCarImages"
      class="img-fluid"
      src="{{ imageUrl }}{{ image.imagePath }}"
    />
  </div>
  <div class="col-md-5">
    <li class="list-group-item">
      brand name : {{ currentCarDetail.brandName }}
    </li>
    <li class="list-group-item">car id : {{ currentCarDetail.carId }}</li>
    <li class="list-group-item">color : {{ currentCarDetail.colorName }}</li>
    <li class="list-group-item">price : {{ currentCarDetail.dailyPrice }}</li>
  </div>
</div>
<app-rent-form [carToBeRentId]="currentCarDetail.carId"></app-rent-form>
