<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h5 class="title">Add car image</h5></div>
      <div class="card-body">
        <form [formGroup]="imageUploadForm">
          <div class="mb-3">
            <label for="carId">Car</label>
            <div class="form-group">
              <select
                class="form-select form-select-sm"
                type="number"
                id="carId"
                formControlName="carId"
              >
                <option *ngFor="let car of cars" [ngValue]="car.id">
                  {{ car.description }}
                </option>
              </select>
            </div>

            <app-file-upload formControlName="image"></app-file-upload>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-primary" (click)="add()">Submit</button>
      </div>
    </div>
  </div>
</div>
