<div class="row">
  <div class="col-md-2">
    <button class="btn btn-info" (click)="fillCars()" type="button">
      refresh
    </button>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>brand id</th>
      <th>color id</th>
      <th>modelYear</th>
      <th>dailyPrice</th>
      <th>Description</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars">
      <td>{{ car.id }}</td>
      <td>{{ car.brandId }}</td>
      <td>{{ car.colorId }}</td>
      <td>{{ car.modelYear }}</td>
      <td>{{ car.dailyPrice }}</td>
      <td>{{ car.description }}</td>

      <td>
        <button class="btn btn-danger" (click)="deleteCar(car)" type="button">
          delete
        </button>

        <button
          class="btn btn-info"
          type="button"
          routerLink="../update/{{ car.id }}"
        >
          update
        </button>
      </td>
    </tr>
  </tbody>
</table>
